/**
 * STYLE.CSS
 */
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}
.marginCentering {
    margin-left: auto;
    margin-right: auto;
}


#carouselArea .viewArea {
    position: relative;
}
#carouselArea .slideWrapper {
    position: relative;
    width: 84%;
    height: 100%;
    overflow: hidden;
}
#carouselArea .imageArea {
    position: relative;
}
#carouselArea .imageArea li {
    position: absolute;
    width: 100%;
    height: 100%;
}
#carouselArea .imageArea li img {
    width: 100%;
    height: 100%;
}

#carouselArea .navigationPoint {
    height: 20px;
    margin-top: 10px;
}
#carouselArea .navigationPoint li {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: gray;
    display: inline-block;
}
#carouselArea .navigationPoint li.activePoint {
    background-color: black;
}

.arrowButton {
    position: absolute;
    top: 130px;
    z-index: 6;
    border-right: 20px solid transparent;
    border-bottom: 24px solid #b2ce54;
    border-left: 20px solid transparent;
    width: 0;
}
.leftArrow.arrowButton {
    left: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.rightArrow.arrowButton {
    right: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
